<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Book Info</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group">
            <input type="number" [(ngModel)]="book.id" placeholder="ID" name="id" class="form-control"/>
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="book.title" placeholder="Title" name="title" class="form-control"/>
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="book.author" placeholder="Author" name="author" class="form-control"/>
          </div>
          <div class="form-group">
            <textarea rows="5" [(ngModel)]="book.description" placeholder="Description" name="description" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <input type="number" [(ngModel)]="book.publsihed" placeholder="Published" name="published" class="form-control"/>
          </div>
          <button type="submit" class="btn btn-success"  (click)="createUser()">Add</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
